mixin names-category()
    .names-category
        .container
            .names-category__title
                h2 Название категории
            .names-category__items
                +company-icons(`${baseDir}assets/images/company-icons/about1`, false, 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about2`, false, 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about3`, false, 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about4`, false, 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about5`, false, 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about6`, false, 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about1`, false, 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about2`, false, 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about3`, false, 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about4`, false, 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about5`, false, 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about6`, false, 'Название услуги')
