mixin names-category()
    .names-category
        .container
            .names-category__title
                h2 Название категории
            .names-category__items
                +company-icons(`${baseDir}assets/images/company-icons/about1`, '', 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about2`, '', 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about3`, '', 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about4`, '', 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about5`, '', 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about6`, '', 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about1`, '', 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about2`, '', 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about3`, '', 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about4`, '', 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about5`, '', 'Название услуги')
                +company-icons(`${baseDir}assets/images/company-icons/about6`, '', 'Название услуги')
