mixin about-service(data)
	.about-service&attributes(attributes)
		.container
			.about-service__row(class=`${data.right ? 'right-img' : ''}`)
				.about-service__title
					h2.h2!= data.title
				.about-service__img
					+picture({
						path: `${baseDir}assets/images/about-service/${data.img}`,
						ext: `png`,
					})
				.about-service__text
					p!= data.text
			if data.double
				.about-service__row.right-img
					.about-service__title
						h2.h2!= data.title
					.about-service__img
						+picture({
							path: `${baseDir}assets/images/about-service/${data.img}`,
							ext: `png`,
						})
					.about-service__text
						p!= data.text
