mixin about-company()
    .about-company
        .container
            .about-company__about
                h2 О нашей компании
                p Мы собрали в команду талантливых людей и успешно реализуем ваши проекты по всему миру. Наши агенты бывали в командировках в разных концах света и знают как правильно выбрать локацию, собрать подходящую команду и реализовать проект любой сложности. Наша уникальная компетенция - снимать контент уровня профессионального кинематографа без раздутия бюджета.
            .about-company__items
                +company-icons(`${baseDir}assets/images/company-icons/about1`, 'Люди', 'Проверенные временем фанатики своего дела')
                +company-icons(`${baseDir}assets/images/company-icons/about2`, 'Вовлеченность', 'Погружение в проект до последней правки')
                +company-icons(`${baseDir}assets/images/company-icons/about3`, 'Оборудование', 'Опыт работы на различном оборудовании')
                +company-icons(`${baseDir}assets/images/company-icons/about4`, 'Клиенты', 'Как крупные корпорации так и частные лица')
                +company-icons(`${baseDir}assets/images/company-icons/about5`, 'Строгость', 'Соблюдаем уникальный этикет и нормы контента')
                +company-icons(`${baseDir}assets/images/company-icons/about6`, 'Креатив', 'Готовы добавить в меру творческого беспредела')
